<a href="https://colab.research.google.com/github/Nitin286roxs/EDA-Feature-Engineering/blob/main/Impetus_Interview_Round1/Impetus.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
#loadiing dataset
train_df=pd.read_csv("/content/Train.csv")
test_df=pd.read_csv("/content/Test.csv")

In [3]:
train_df.shape

(8523, 12)

In [4]:
test_df.shape

(5681, 11)

In [5]:
#concat train_df and test_df for data preprocessing
final_df=pd.concat([train_df, test_df])

In [6]:
#check empty cells in dataset
final_df.isnull().sum()

Item_Identifier                 0
Item_Weight                  2439
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  4016
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales            5681
dtype: int64

In [7]:
#label encoding of Item_Fat_Content
final_df['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [8]:
final_df['Item_Fat_Content']=final_df['Item_Fat_Content'].map({"Low Fat": 0, "low fat": 0, "LF": 0, "Regular":1, "reg": 1  })

In [9]:
#label encoding of Item_Type
list(final_df['Item_Type'].unique())

['Dairy',
 'Soft Drinks',
 'Meat',
 'Fruits and Vegetables',
 'Household',
 'Baking Goods',
 'Snack Foods',
 'Frozen Foods',
 'Breakfast',
 'Health and Hygiene',
 'Hard Drinks',
 'Canned',
 'Breads',
 'Starchy Foods',
 'Others',
 'Seafood']

In [10]:
unique_item_type = list(final_df['Item_Type'].unique())
all_unique_item_type = {unique_item_type[i]: i for i in range(len(unique_item_type))}
#final_df['Item_Type']=final_df['Item_Type'].
all_unique_item_type

{'Dairy': 0,
 'Soft Drinks': 1,
 'Meat': 2,
 'Fruits and Vegetables': 3,
 'Household': 4,
 'Baking Goods': 5,
 'Snack Foods': 6,
 'Frozen Foods': 7,
 'Breakfast': 8,
 'Health and Hygiene': 9,
 'Hard Drinks': 10,
 'Canned': 11,
 'Breads': 12,
 'Starchy Foods': 13,
 'Others': 14,
 'Seafood': 15}

In [11]:
final_df['Item_Type']=final_df['Item_Type'].map(all_unique_item_type)

In [12]:
final_df['Outlet_Size'].unique()
final_df['Outlet_Size']=final_df['Outlet_Size'].map({'Small': 0, 'Medium': 1, "High": 2})

In [13]:
final_df['Outlet_Identifier'].unique()
unique_outlet_type = list(final_df['Outlet_Identifier'].unique())
all_unique_item_type = {unique_outlet_type[i]: i for i in range(len(unique_outlet_type))}
final_df['Outlet_Identifier']=final_df['Outlet_Identifier'].map(all_unique_item_type)

In [14]:
final_df['Outlet_Location_Type'].unique()
final_df['Outlet_Location_Type']=final_df['Outlet_Location_Type'].map({'Tier 1': 0, 'Tier 2': 1, "Tier 3": 2})

In [15]:
final_df['Outlet_Type'].unique()
unique_outlet_type = list(final_df['Outlet_Type'].unique())
all_unique_item_type = {unique_outlet_type[i]: i for i in range(len(unique_outlet_type))}
final_df['Outlet_Type']=final_df['Outlet_Type'].map(all_unique_item_type)

In [16]:
final_df['Item_Identifier'].unique()
unique_outlet_type = list(final_df['Item_Identifier'].unique())
all_unique_item_type = {unique_outlet_type[i]: i for i in range(len(unique_outlet_type))}
final_df['Item_Identifier']=final_df['Item_Identifier'].map(all_unique_item_type)

In [17]:
final_df.head(3)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,0,9.30,0,0.016047,0,249.8092,0,1999,1.0,0,0,3735.1380
1,1,5.92,1,0.019278,1,48.2692,1,2009,1.0,2,1,443.4228
2,2,17.50,0,0.016760,2,141.6180,0,1999,1.0,0,0,2097.2700

In [18]:
#Filling NaN value with mean
final_df['Item_Weight']=final_df['Item_Weight'].fillna(value=final_df['Item_Weight'].mean())
final_df['Outlet_Size']=final_df['Outlet_Size'].fillna(final_df['Outlet_Size'].mean())

In [19]:
final_df.isnull().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                     0
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales            5681
dtype: int64

In [20]:
Y=final_df.iloc[0:8523,-1]
X=final_df.iloc[0:8523 ,:-1]

In [21]:
Y.shape

(8523,)

In [22]:
X.shape

(8523, 11)

In [23]:
#Train and test
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3)

In [24]:
#Model selection
from sklearn.linear_model import LinearRegression

lr=LinearRegression()
lr.fit(X_train, Y_train)
Y_predict=lr.predict(X_test)

In [25]:
#Checking R2 score
from sklearn.metrics import r2_score
r2_score=round(r2_score(Y_test, Y_predict), 6)

In [26]:
r2_score

0.348791